html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Sedona';
  src: url('../fonts/web/ptsans.woff') format('woff'),
  url('../fonts/web/ptsans.woff2') format('woff2'),
  url('../fonts/web/ptsansbold.woff') format('woff'),
  url('../fonts/web/ptsansbold.woff2') format('woff2');
}

body {
  color: #fff;
  font-family: "Sedona";

  font-size: 12px;
  margin: 0 auto;
  width: calc(1200px);
}

.container {
  margin: 0 auto;
  width: 100%;
}

header {
  background: #FFFFE0;
}

.header {
  min-height: 35px;
}

.promo {
  color: black;
  height: 560px;
}

.menu {
  background: #fff url(../images/backgroundphoto.png);
}

.main-menu {}

.main-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.main-menu__list__item {
  background: #fff url(../images/Layer61.png);
  display: inline-block;
  height: 56px;
  text-align: center;
  text-transform: uppercase;
  width: 240px;
}

.main-menu__list__item a {
  color: #000;
  display: block;
  font-size: 10px;
  font-weight: bold;
  padding-top: 23px;
  text-decoration: none;
}

.main-menu__list__item:nth-child(3) a{
  position: relative;
}

.main-menu__list__item:nth-child(3) a::before {
  background: url(../images/Layer8.png);
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
}

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.info {
  background: #E6E6FA;
  min-height: 50px;
}

.left-info {
  float: left;
  width: 400px;
  height: 255px;
  background: #81b3d1;
  color: #fff;
}

.h2{
  display: block;
  width: 125px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 55px;
}

.h3{
  display: block;
  width: 30px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 30px;
}

.right-img {
  background: #F0E68C url(../images/Layer10copy.png);
  float: right;
height: 256px;
  width:800px;
}

.right-info {
  float: right;
  width: 30%;
}

.left-img {
  background: #F0E68C;
  float: left;
  height: 256px;
  width: 800px;
}

.middle {

}
.middle__leftcol, .middle__middlecol, .middle__rightcol {
  width: 400px;
  height: 330px;

  color: #000;
}

.middle__leftcol {
  background: #fff;
  float: left;

}
.middle__leftcol h2, .middle__middlecol h2, .middle__rightcol h2{
  position: relative;
  margin-top: 160px;
}

.middle__leftcol h2::before{
  content: '';
  position: absolute;
  width: 75px;
  height: 72px;
  top: -110px;
  left: 25px;
  background: url(../images/Layer12.png);
}

.middle__middlecol {
  background: #fff;
  float: left;


}

.middle__middlecol h2::before{
  content: '';
  position: absolute;
  width: 75px;
  height: 72px;
  top: -110px;
  left: 25px;
  background: url(../images/Layer13.png);
}

.middle__rightcol {
  background: #fff;
  float: right;

}

.middle__rightcol h2::before{
  content: '';
  position: absolute;
  width: 75px;
  height: 72px;
  top: -110px;
  left: 25px;
  background: url(../images/Layer11.png);
}
.welcome {
color: #81b3d2;
text-transform: uppercase;
font-family: "Sedona";
font-size: 45px;
font-weight: bold;
text-align: center;
margin-bottom: 15px;
}

.under-welcome {

display:block;
font-style: italic;
font-family: cursive;
font-weight: bold;
margin: 0 auto;
color: #756357;
font-size: 15px;
position: relative;
width: 150px;
text-align: center;
}
.under-welcome::before, .under-welcome::after {
  content: '';
  position: absolute;
  width :30px;
  height: 2px;
  left: -45px;
  top: 8px;
  background: #756357;
}

.under-welcome::after{
  left: 175px;
}

.sedona-title {
  margin-top: 60px;
  margin-bottom: 70px;
  text-transform: uppercase;
  color: #fff;
  font-size: 75px;
text-align: center;
}

.grand-canyone {
display:block;
margin: 0 auto;
color: #fff;
font-size: 20px;
position: relative;
width: 180px;
text-align: center;
font-style: italic;
font-family: cursive;
font-weight: bold;
}

.promo-bottom {
  background: url(../images/Shape1.png);
  width: 1200px;
  height: 57px;
  margin-top: 140px;

}

.info-head{
  color: #000;
  background: #fff;
}
.info-head h3{
  display: block;
  width: 335px;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  margin-top: 65px;
  font-size: 15px;
}

.info-head p{
  display: block;
  width: 500px;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  font-size: 10px;
  padding-bottom: 60px;
}
