html, body {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  margin: 0 auto;
  width: calc(1200px);
}

.container {
  margin: 0 auto;
  width: 100%;
}

header {
  background: #FFFFE0;
}

.header {
  min-height: 35px;
}

.promo {
  color: black;
  height: 544px;
}

.menu {
  background: #fff url(../images/backgroundphoto.png);
}

.main-menu {}

.main-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.main-menu__list__item {
  background: #fff url(../images/Layer61.png);
  display: inline-block;
  height: 56px;
  text-align: center;
  text-transform: uppercase;
  width: 240px;
}

.main-menu__list__item a {
  color: #000;
  display: block;
  font-size: 10px;
  font-weight: bold;
  padding-top: 23px;
  text-decoration: none;
}

.main-menu__list__item:nth-child(3) {
  position: relative;
}

.main-menu__list__item:nth-child(3)::before {
  background: url(../images/Layer8.png);
  content: '';
  left: 0;
  position: absolute;
  top: 0;
}

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.info {
  background: #E6E6FA;
  min-height: 50px;
}

.left-info {
  float: left;
  width: 30%;
}

.right-img {
  background: #F0E68C;
  float: right;
  min-height: 49px;
  width: 70%;
}

.right-info {
  float: right;
  width: 30%;
}

.left-img {
  background: #F0E68C;
  float: left;
  min-height: 49px;
  width: 70%;
}

.middle {
  padding-bottom: 10px;
  padding-top: 10px;
}

.middle__leftcol {
  background: #3498db;
  float: left;
  margin-right: 10px;
  min-height: 100px;
  width: 30%;
}

.middle__middlecol {
  background: #3498db;
  float: left;
  margin-right: 10px;
  min-height: 100px;
  width: calc(40% - 20px);
}

.middle__rightcol {
  background: #3498db;
  float: right;
  min-height: 100px;
  width: 30%;
}

.welcome {
color: #81b3d2;
font-size: 45px;
font-weight: bold;
text-align: center;
}

.under-welcome {

}

.sedona-title {

}

.grand-canyone {

}
